{% extends "webiot/loggedin.html" %}
{% block content %}
<style>
    .charts-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }
    .chart-wrapper {
        background-color: #f9f9f9;
        border-radius: 8px;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="charts-container">
    <div class="chart-wrapper">
        <canvas id="particle_concentrationChart"></canvas>
    </div>
    <div class="chart-wrapper">
        <canvas id="particle_duty_cycle_pcChart"></canvas>
    </div>

    <div class="chart-wrapper">
        <canvas id="particle_validChart"></canvas>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
<script>
const charts = {
    particle_concentrationChart: null,
    particle_duty_cycle_pcChart: null,
    particle_validChart: null,

};

function createChart(canvasId, label, color, title, data) {
    const ctx = document.getElementById(canvasId).getContext('2d');
    return new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.labels,
            datasets: [{
                label: label,
                data: data[canvasId.replace('Chart', '')].map((value, index) => ({
                    x: new Date(data.labels[index]),
                    y: value
                })),
                borderColor: color,
                fill: false
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            aspectRatio: 1.5,
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'minute',
                        displayFormats: {
                            minute: 'HH:mm'
                        }
                    },
                    title: {
                        display: true,
                        text: 'Time'
                    }
                },
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: title
                },
                legend: {
                    display: false
                }
            }
        }
    });
}

function updateOrCreateCharts(data) {
    console.log(data); // Log the data object to the console

    const chartConfigs = [
        { id: 'particle_concentrationChart', label: 'Particle Concentration', color: 'red', title: 'Particle Concentration' },
        { id: 'particle_duty_cycle_pcChart', label: 'Particle duty cycle', color: 'blue', title: 'Particle duty cycle' },
        { id: 'particle_validChart', label: 'Particle valid', color: 'blue', title: 'Particle valid' },

    ];

    chartConfigs.forEach(config => {
        if (charts[config.id] instanceof Chart) {
            charts[config.id].destroy();
        }
        charts[config.id] = createChart(config.id, config.label, config.color, config.title, data);
    });
}


function fetchAndUpdateCharts() {
    fetch('/particle-data-json/')
        .then(response => response.json())
        .then(data => {
            updateOrCreateCharts(data);
        })
        .catch(error => console.log('Error fetching data:', error));
}

fetchAndUpdateCharts();
setInterval(fetchAndUpdateCharts, 60000);  // Update every minute
</script>
{% endblock %}